<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/post" method="post">
      <input type="text" name="url" />
      <button type="submit">submit</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% findUrl.forEach(element => { %>
        <tr>
          <td>
            <a href="<%= element.redirectURL %>"><%= element.redirectURL %></a>
          </td>
          <td>
            <a href="<%= element.shortURL %>"> <%= element.shortURL %></a>
          </td>
          <td><%= element.clicks %></td>
        </tr>

        <% }); %>
      </tbody>
    </table>
  </body>
</html>
